$small: 576px;
$medium: 768px;
$large: 1200px;
$xlarge: 1600px;
$xxl: 1900px;


main {
    @media screen and (min-width: $xxl) {
        aside {
            min-width: 520px;

            .sidebar-header {
                h1 {
                    font-size: 80px;

                    &::after {
                        width: 110px;
                        height: 110px;
                        right: 105px;
                    }
                }
            }

            .filter-section {
                .filter-title {
                    font-size: 32px;

                    img {
                        width: 39px;
                        height: 21px;
                    }
                }

                a {
                    font-size: 20px;
                }

                .filter-option {
                    .filter-option-header {
                        .filter-sub-title {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        header {
            ul {
                li {
                    padding: 0 50px;

                    a {
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        img {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }
        }

        .right-content {
            .section-title {
                h2 {
                    font-size: 48px;
                }

                a {
                    font-size: 20px;
                }
            }

            .landing {
                .slider {
                    .image-slider {
                        .slider-item {
                            height: 417px;

                            .slider-content {
                                padding-right: 324px;

                                .slider-title {
                                    font-size: 48px;
                                }
                            }
                        }
                    }
                }
            }

            .item-section {
                .item-tab {
                    ul.tab-list {
                        li {
                            font-size: 20px;
                        }
                    }

                    .sort-by {
                        font-size: 20px;

                        .select-dropdown select {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: $large) {
        .menu-toggle {
            display: block;
        }

        aside {
            background: rgba(30, 30, 30, 1);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 5;
            height: 100%;

            .sidebar-header {
                border-bottom: 1px solid rgba(217, 217, 217, 0.34);
            }

            .close-btn {
                display: block;

            }
        }

        .aside-open {
            transform: translateX(0px);
        }

        .aside-close {
            transform: translateX(-300px);
        }

        header {
            ul li {
                font-size: 16px;
            }
        }

        .right-content {
            .landing {
                padding: 20px;
            }

            .section-title {
                img {
                    width: 22px;
                    height: 22px;
                }

                h2 {
                    font-size: 1.5rem;
                }
            }

            .item-card-section {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: $medium) {
        header {
            ul li {
                padding: 0 20px;

                img {
                    width: 20px;
                }
            }

            ul.header-icon {
                li {
                    height: 26px;

                    a,
                    img {
                        height: 100%;

                    }
                }
            }

            .search {
                padding: 0 14px;

                img {
                    width: 26px;
                    padding-right: 10px;
                }

                input {
                    height: 40px;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            .landing {
                .slider {
                    .image-slider {
                        grid-template-columns: repeat(1, 1fr);

                        .slider-item {
                            width: 100% !important;
                        }
                    }
                }

                .item-section .item-tab ul.tab-list li {
                    padding: 5px 10px;
                    font-size: 14px;
                }
            }

            .item-card-section {
                width: 100%;
            }
        }
    }
}